@media (max-width:374px){
    figcaption {
        font-size: 16px;
    }
    /* Header */

    header {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header img {
        margin-bottom: 10px;
        height: 45px;
    }
    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }
    header li {
        margin: 0;
        padding: 0;
    }
    #register {
        display: flex;
        justify-content: space-between;
    }
    header img {
        margin-left: 20px;
        height: 50px;
    }
    header nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        order: 3;
        flex-direction: row;
        justify-content: space-around;
    }
    header ul li {
        width: 50%;
        border-bottom: #f2f2f2 2px solid;
        padding-bottom: 12px;
        text-align: center;    
    }
    header ul :hover {
        border-bottom: #0065fc 2px solid;
    }
    header ul li :hover {
        border-color: transparent;
    }
    header ul li a::before, header ul li a::after {
        display: none;
    }
    
    /* Search and filters */

    h1 {
        font-size: 20px;
        width: 90%;
        margin-left: 5px;
    }
    #search_filters p {
        margin-left: 5px;
    }
    #search_filters {
        margin: 10px 0 0 20px;
        flex-direction: column;
        width: 95%;
        margin: auto;
        margin-top: 30px;
    }
    #search_button {
        width: 48px ;
        height: 48px;
        margin-left: -25px;
        border-radius: 15px 15px 15px 15px;
    }
    #lookforbar {
        margin-top: 25px;
    }
    #lookforbar input {
        padding-right: 0;
    }
    #search_button img {
        display: inline;
        margin-top: 5px;
        height: 16px;
    }
    #search_button span {
        display: none;
    }
    h2 {
        align-self: start;
        margin-left: 2px;
        margin-bottom: 8px;
    }
    #filter {
        flex-direction:column;
    }
    #stick_filter {
        display: flex;
        flex-direction: column;
    }
    #input_filter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 12px;
    }
    #filter label {
        margin: 7px;
        font-size: 16px;
    }
    #iline {
        align-items: flex-start;
    }
    #iline img {
        height: 10px;
    }
    #iline p {
        margin-top: 5px;
        width: 330px;
    }
    #framei {
        width: 30px;
    }

    /* Main */

    main {
        display: flex;
        flex-direction: column;
    }

    /* Popular section */
    
    #popular {
        padding: 0;
        margin: auto;
        width: 99%;
        border-radius: 0;
    }   
    #title_popular {
        width: 270px;
    }
    #title_popular h3 {
        font-size: 20px;
    }
    #popular h4 {
        font-size: 16px;
        width: 95%;
    }
    #popular p {
        font-size: 12px;
    }
    .frame_popular {
        width: 95%;
    }
    .contain_img_popular img {
        width: 40%;
    }
    #popular .ranking {
        left: 45%;
    }

    /* Main section (accomodation)*/

    #main {
        margin: auto;
        width: 90%;
        background: none;
        border: none;
        margin-top: 390px;
    }
    #main h3 {
        font-size: 22px;
        margin: 50px 0 20px 0;
    }
    #main a {
        width: 100%;
        margin-bottom: 15px;
    }
    #main figcaption {
        margin-top: 10px;
    }
    .section_row {
        display: flex;
        flex-direction: column;
    }
    .section_row a {
        padding: 0;
    }
    .frame_main {
        margin: 15px auto;
    }
    .propmain {
        margin: 0 0 15px 10px;
        width: 95%;
    }
    #show_more {
        margin-left: 0;
    }
    /* Activity section */

    #activity { 
        margin: auto;
        margin-top: 440px;
        width: 90%;
    }
    #activity h4 {
        margin-top: 10px;
        font-size: 20px;
    }
    .activity_frame {
        margin-bottom: 15px;
    }
    #activity figcaption {
        margin-bottom: 3%;
        margin-left: 15px;
    }
    #activity_contain {
        display: flex;
        flex-direction: column; 
        align-content: center;
        width: 100%;
    }
    .activity_large_frame, #activity_frame_fort, #activity_frame_frioul, #activity_frame_notredame, #activity_frame_longchamp{
        height: 190px;
    }
    #activity_large1, #activity_large2, #activity1, #activity2, #activity3, #activity4 {
        width: 100%;
        height: 130px;
        object-fit: cover;
        left: 0; bottom: 0; right: 0; top: 0;
    }
    #container_activity_frioul, #container_activity_longchamp {
        align-self: stretch;
    }
    /* Footer */

    footer {
        margin-top: 810px;
        display: flex;
        flex-direction: column;
    }
    footer ul {
        margin-left: 0;
    }
    footer h5 {
        margin-bottom: 10px;
    }
    footer nav{
        margin-bottom: 30px;
    }
}
@media (min-width: 375px) and (max-width: 767px) {
    body {
        margin: 0;
    }

    /* Header */

    header {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }
    header li {
        margin: 0;
        padding: 0;
    }
    #register {
        display: flex;
        justify-content: space-between;
    }
    header img {
        margin-left: 20px;
        height: 50px;
    }
    header nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        order: 3;
        margin-top: 15px;
        flex-direction: row;
        justify-content: space-around;
    }
    header ul li {
        width: 50%;
        border-bottom: #f2f2f2 2px solid;
        padding-bottom: 15px;
        text-align: center;    
    }
    header ul :hover {
        border-bottom: #0065fc 2px solid;
    }
    header ul li :hover {
        border-color: transparent;
    }
    header ul li a::before, header ul li a::after {
        display: none;
    }
    /* Search and filters */

    h1 {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    #search_filters {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
        width: 90%;
    }
    #search_button {
        width: 48px ;
        height: 48px;
        margin-left: -25px;
        border-radius: 15px 15px 15px 15px;
    }
    #lookforbar {
        margin-left: 5px;
    }
    #lookforbar input {
        padding-right: 30px;
    }
    #search_button img {
        display: inline;
        margin-top: 5px;
        height: 16px;
    }
    #search_button span {
        display: none;
    }
    h2 {
        align-self: start;
        margin-left: 2px;
        margin-bottom: 8px;
    }
    #filter {
        flex-direction:column;
    }
    #input_filter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 12px;
    }
    #filter label {
        margin: 7px;
        font-size: 16px;
    }
    #iline {
        align-items: flex-start;
    }
    #iline img {
        height: 10px;
    }
    #iline p {
        margin-top: 5px;
        width: 330px;
    }

    /* Main */

    main {
        display: flex;
        flex-direction: column;
    }

    /* Popular section */
    
    #popular {
        padding: 0;
        margin: auto;
        width: 99%;
        border-radius: 0;
    }   
    #popular h4 {
        width: 100%;
    }
    #title_popular {
        width: 320px;
    }
    .frame_popular {
        width: 95%;
    }
    .contain_img_popular img {
        width: 40%;
    }
    #popular .ranking {
        left: 45%;
    }
    /* Main section (accomodation)*/

    #main {
        margin: auto;
        width: 90%;
        background: none;
        border: none;
        margin-top: 450px;
    }
    #main h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    #main a {
        width: 98%;
        margin-bottom: 20px;
    }
    #main figcaption {
        margin-top: 10px;
    }
    .section_row {
        display: flex;
        flex-direction: column;
    }
    .frame_main {
        margin: 15px auto;
    }
    .propmain {
        margin: 0 0 15px 10px;
        width: 95%;
    }
    #show_more {
        margin: 10px 0;
    }
    /* Activity section */

    #activity { 
        margin: auto;
        margin-top: 440px;
        width: 90%;
    }
    #activity h4 {
        margin-top: 15px;
        font-size: 20px;
    }
    #activity a {
        margin-bottom: 20px;
    }
    #activity figcaption {
        margin-bottom: 3%;
        margin-left: 15px;
    }
    #activity_contain {
        display: flex;
        flex-direction: column; 
        align-content: center;
        width: 100%;
    }
    .activity_large_frame, #activity_frame_fort, #activity_frame_frioul, #activity_frame_notredame, #activity_frame_longchamp{
        height: 190px;
    }
    #activity_large1, #activity_large2, #activity1, #activity2, #activity3, #activity4 {
        width: 100%;
        height: 130px;
        object-fit: cover;
        left: 0; bottom: 0; right: 0; top: 0;
    }
    #container_activity_frioul, #container_activity_longchamp {
        align-self: stretch;
    }
    /* Footer */

    footer {
        margin-top: 840px;
        display: flex;
        flex-direction: column;
    }
    footer ul {
        margin-left: 0;
    }
    footer h5 {
        margin-bottom: 10px;
    }
    footer nav{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
   
    /* Search and filters */

    h1 {
        margin-top: 80px;
        margin-bottom: 5px;
        font-size: 24px;
    }
    #search_filters {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
        width: 90%;
    }
    #search_filters p {
        font-size: 20px;
    }
    #search_button {
        width: 48px ;
        height: 48px;
        margin-left: -25px;
        border-radius: 15px 15px 15px 15px;
    }
    #lookforbar {
        margin-left: 5px;
    }
    #lookforbar input {
        padding-right: 30px;
    }
    #search_button img {
        display: inline;
        margin-top: 5px;
        height: 16px;
    }
    #search_button span {
        display: none;
    }
    h2 {
        align-self: start;
        margin-left: 2px;
        margin-bottom: 8px;
        font-size: 22px;
    }
    #filter {
        flex-direction:column;
    }
    #input_filter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 12px;
    }
    #filter label {
        margin: 7px;
        font-size: 16px;
    }
    #iline {
        align-items: flex-start;
    }
    #iline img {
        height: 10px;
    }
    #iline p {
        margin-top: 5px;
        font-size: 18px;
    }

    /* Main */

    main {
        display: flex;
        flex-direction: column;
    }

    /* Popular section */
    
    #popular {
        padding: 0;
        margin: auto;
        width: 98%;
    }   
    #popular h3 {
        font-size: 32px;
        margin-bottom: 0;
    }
    #title_popular {
        width: 80%;
    }
    #popular h4 {
        font-size: 24px;
    }
    .frame_popular {
        width: 95%;
    }
    .description_popular {
        width: 90%;
    }
    #popular figcaption {
        max-width: 90%;
        font-size: 20px;
    }
    #popular p {
        font-size: 22px;
    }
    #popular .ranking {
        width: 16px;
    }
    /* Main section (accomodation)*/

    #main {
        padding: 0;
        margin: auto;
        margin-top: 20px;
        width: 98%;
        height: 610px;
    }
    #main h3 {
        font-size: 32px;
        margin: 30px auto 0 auto;
    }
    #main figcaption {
        margin-top: 10px;
    }
    #main h4 {
        margin-left: 2px;
        margin-bottom: 0;
        font-size: 20px;
    }
    #main p {
        margin-left: 2px;
        font-size: 16px;
    }
    .frame_main {
        margin: 15px auto;
        width: 30%;
    }
    .propmain {
        margin: 0 0 15px 10px;
        width: 95%;
    }
    #main span {
        margin-top: 10px;
    }
    /* Activity section */

    #activity { 
        margin: auto;
        width: 90%;
    }
    #activity figcaption {
        margin-bottom: 3%;
        margin-left: 15px;
    }
    #activity a {
        width: 100%;
    }
    #activity h3 {
        font-size: 32px;
    }
    #activity h4 {
        font-size: 28px;
    }
    #activity_contain {
        display: flex;
        flex-direction: column; 
        align-content: center;
        width: 100%;
    }
    .activity_frame{
        height: 190px;
        margin-top: 20px;
    }
    #activity_large1, #activity_large2, #activity1, #activity2, #activity3, #activity4 {
        width: 100%;
        height: 130px;
        object-fit: cover;
        left: 0; bottom: 0; right: 0; top: 0;
        margin: 0;
    }

    /* Footer */

    footer {
        margin-top: 880px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer ul {
        margin-left: 0;
        text-align: center;
    }
    footer h5 {
        font-size: 24px;
        text-align: center;
    }
    footer ul li a{
        font-size: 20px;
    }
    footer nav{
        margin-bottom: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1100px) {
    h4:not(#activity) {
        font-size: 14px;
    }
}