@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family:'raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
figure {
    margin: 0;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
/* Header */

header nav {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: white;
    justify-content: space-between;
}
header img {
    margin-left: 2%;
}
header a {
    margin: 30px;
}
header span {
    color:#0065FC;
    font-weight: 800;
}
header ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}
header ul li a {
    font-weight: 500;
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;  
}
header ul li a::before, header ul li a::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: #0065FC ;
  will-change: width;
  transition: width .2s ease-out;
  position: absolute;
  top: -30px;
}
header ul li a::before{
    left: 50%;
    transform: translateX(-50%); 
}
header ul li a::after{
    right: 50%;
    transform: translateX(50%); 
}
header ul li a:hover{
    color: #0065FC;
}
header ul li a:hover::before, header ul li a:hover::after{
    width: 150px;
    transition-duration: .3s;
}

/* Search and filters */

#search_filters {
    margin: 80px 0 0 2%;
    width: 98%;
}
#input_filter, #stick_filter {
    display: flex;
}
h1 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 0;
}
#search_filters p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}
#lookforbar {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
#lookforbar img {
    height: 16px ;
}
#localisation {
    width: 50px;
    height: 46px;
    border-radius: 15px 0 0 15px;
    border: transparent;
}
#search_button {
    width: 130px ;
    height: 46px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: transparent;
}
#search_button img {
    display: none;
}
#lookforbar input {
    width: 210px;
    height: 42px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
#search_town {
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding-left: 20px;
}
#filter img {
    height: 20px;
}
#filter {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
h2 {
    font-size: 18px;
    font-weight: 800;
    margin-right: 20px;
}
#filter img {
    width: 20px;
}
.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: #DEEBFF;
    border: transparent;
    border-radius: 26px;
    left: -3px;
}
#filter label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 60px;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    height: 48px;
    font-weight: 800;
    font-size: 17px;
    border-radius: 25px;
    white-space: nowrap;
    margin: 10px;
    padding-right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
#filter input[type="checkbox"]:hover + label {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: #fff;
    transition: all .2s;
}
#filter input[type="checkbox"]:checked + label {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: #fff;
    transition: all .2s;
}
#filter input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
#iline {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}#iline p {
    margin: 0;
}
#iline img {
    height: 12px;
}
#framei {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(139, 139, 139, .3);
    border-radius: 12.5px;
    margin-right: 12.5px;
}

/* Main */ 

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 40px auto;
}
h3 {
    font-size: 22px;
    font-weight: 700;
}
/* Popular section */ 

#popular {
    width: 30%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#title_popular {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#title_popular img {
    width: 24px;
}
.frame_popular {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#popular a {
    position: relative;
    width: 90%;
    height: 140px;
    border: white 1px solid;
    background-color: white;
    border-radius: 20px;
    padding: 3px 0px 3px 3px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
}
#popular h4 {
    padding-top: 15px;
    width: 85%;
}
#popular p {
    margin-top: 5px;
}
.contain_img_popular img {
    width: 30%;
    height: 140px;
    float: left;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin-right: 20px;
}
.ranking {
    display: flex;
    width: 14px;
    position: absolute;
    bottom: 15px;
    left: 38%;
    margin-top: 35px;
    margin-left: 1.25px;
    margin-right: 1.25px;
}

/* Main section (accomodation) */ 

#main {
    width: 65%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#main h3 {
    margin-left: 3%;
    margin-bottom: 0;
}
.section_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}
.section_row a {
    position: relative;
    width: 30%;
    height: 200px;
    border: white 1px solid;
    background-color: white;
    border-radius: 15px;
    padding: 3px 3px 0px 3px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
}
.section_row a p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
.contain_img_accomodation img {
    width: 100%; 
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
#main h4 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ranking_main {
    display: flex;
    position: absolute;
    width: 14px;
    margin-left: 1.25px;
    margin-right: 1.25px;
    margin-left: 3%;
    bottom: 10px;
}
#show_more{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 3%;
    color: black;
    text-decoration: none;
}

/* Activity section */

#activity {    
    margin: 50px 1.5% 0 1.5%;
}
#activity h3 {
    margin-top: 0px;
}
#activity h4 {
    margin-top: 10px;
    margin-left: 10px;
}
#activity_contain {
    width: 100%;
    height: 445px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 222.5px 222.5px;
    column-gap : 2.5%;
    justify-content: space-between;
}
.activity_large_frame {
    width: 100%;
    height: 445px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: column;
}
#activity_frame_fort {
    width: 100%;
    height: 235px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;

}
#activity_frame_frioul {
    width: 100%;
    height: 164px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: column;
}
#container_activity_frioul {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}
#activity_frame_notredame {
    width: 100%;
    height: 193px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: column;
    grid-column: 4;
    grid-row: 1;

}
#activity_frame_longchamp {
    width: 100%;
    height: 209px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: column;    
}
#container_activity_longchamp {
    grid-column: 4;
    grid-row: 2;
    align-self: end;
}
#activity1 {
    position: relative;
    width: 100%;
    height: 180px;
    border-radius:  20px 20px 0 0;
    object-fit: cover;
}
#activity2 {
    position: relative;
    width: 100%;
    height: 109px;
    border-radius:  20px 20px 0 0;
    object-fit: cover;
}
#activity3 {
    position: relative;
    width: 100%;
    height: 138px;
    border-radius:  20px 20px 0 0;
    object-fit: cover;
}
#activity4 {
    position: relative;
    width: 100%;
    height: 154px;
    border-radius:  20px 20px 0 0;
    object-fit: cover;
}
#activity_large1 {
    position: relative;
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#activity_large2 {
    position: relative;
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#activity_large1 img {
    position: absolute;
    width: 700px;
    height: auto;
    left: -60%; bottom: -15%; right: -65%;
    margin: auto;
}
#activity_large2 img {
    position: absolute;
    width: 700px;
    height: auto;
    left: -65%; bottom: -10%; right: -65%;
    margin: auto;
}
#activity1 img {
    width: 110%;
    height: auto;
    position: absolute;
    left: -10%; bottom: -10%; top: -10%;
    margin: auto;
}
#activity2 img {
    width: 112%;
    height: auto;
    position: absolute;
    left: -12%; bottom: -15%; top: -15%;
    margin: auto;
}
#activity3 img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
}
#activity4 img {
    width: 105%;
    height: auto;
    position: absolute;
    left: -5%; top: -5%; bottom: -5%;
    margin: auto;
}


/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 60px;
    padding-top: 30px;
}
footer h5 {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}
footer a {
    font-size: 15px;
}
footer nav {
    margin-left: 8%;
    margin-right: 8%;
}
footer ul {
    list-style: none;
    padding-left: 0;
    line-height: 30px;
}